.hybrid-login-form-help,
.hybrid-login-form-other,
.site-footer-wrapper,
.svg-icon-netflix-logo {
    display: none !important;
}

.hybrid-login-form-signup {
    min-height: 450px !important;
}

.signupBasicHeader img {
    width: 50px;
    height: 50px;
    margin: 1rem;
}